*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.recipe-table {
  margin-top: 3%;
}

table input {
  width: 100%;
  padding: 0.3rem;
}

.btn-group {
  width: 48%;
  margin: 0 1%;
}

.response-tables {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1%;
}

.percentage-table {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.05);
}
