*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.navbar {
  margin: 0 0 20px 0 !important;
}

.navbar span {
  font-size: 1rem;
}

.description {
  font-size: 0.8rem;
}

@media (min-width: 700px) {
  .navbar {
    margin: 0 0 48px 0 !important;
  }

  .navbar span {
    font-size: 1.25rem;
  }

  .description {
    font-size: 1rem;
  }
}
